.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, rgba(171,0,51,1) 80%, rgba(171,0,51,1) 100%);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(90deg,  rgba(171,0,51,1) 80%, rgba(171,0,51,1) 100%);
    }
    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}

.max-width-button {
    width: 100%;
}

#img-logo {
    margin-right: 30px;
    width: 350px;
    height: auto; /* Mantén la proporción original */
}



.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
  --color: #ab0033;
  --hover: #ab0033;
}

button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

button:hover, button:focus {
border-color: var(--hover);
color: #fff;
}
  
button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 0.5em;
  }

  .titulo-login {
    color: #ab0033;
  }

  @media (max-width: 767px) {
    .img-responsive {
      max-width: 100%; /* Hacer que la imagen sea responsive en pantallas pequeñas */
      height: auto;
    }
  }

.text-white{
  color: #fff;
}

.bg-cremita {
  background-color: #ddc9a3;
  border: solid 2px #ab0033;
}

.titulo-form {
  color: rgb(39, 39, 39);
 
}

.btn-form {
  color: white;
  background-color: #ab0033;
}

.boton {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.boton:hover {
  color: white;
  background-color: #ab0033;
}

.reducir-ancho {
  width: auto;
}



/*CSS PARA EL ACORDEON DEL FORMULARIO 3 */

.accordion {
   /* Ajusta el valor según tus necesidades */
  width: 100%;
}


 /* Cambia el color del titulo del item cuando pases el cursor sobre el */
.accordion-item:hover .accordion-button {
  color: blue;
}


/* Cambia al color asignado cuando el item este cerrado */
.accordion-item .accordion-button.collapsed {
  color: rgb(0, 0, 0); 
}


/* Cambia al color asignado cuando el item este desplegado */
.accordion-item .accordion-button:not(.collapsed) {
  color: rgb(0, 0, 0); 
}

/* .accordion-body {
  border: 2px solid rgb(248, 120, 120);
} */


.accordion-item:focus {
  background-color: white;
} 

/* Cambia el color del contorno solo cuando un ítem del acordeón está abierto y enfocado */
/* .accordion-item:not(.collapsed):focus {
  outline: 2px solid red; 
} */

/* .accordion-item:focus {
  border-color: red;
} */

.bg-acordeon {
  background-color: #ab0033;
  color: #ab0033;
}



.accordion-button-focus-border-color {
  color: #ab0033;
} 
.accordion-button-focus-box-shadow {
  color: #ab0033;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: white;
}


.mi-accordion .accordion-button:focus,
    .mi-accordion .accordion-button:hover {
        color: #fff; /* Cambia el color del texto al pasar el ratón o al hacer clic */
        background-color: #ab0033; /* Cambia el color de fondo al pasar el ratón */
    }

    .mi-accordion .accordion-button:focus {
        box-shadow: 0 0 0 0.25rem rgba(171, 0, 51); /* Cambia el color de sombra al estado activo */
        border-color: #ab0033; /* Cambia el color del borde al estado activo */
    }

    .mi-accordion .accordion-button {
        background-color: #fff; /* Restaura el color de fondo por defecto */
        color: black; /* Color por defecto del texto */
        transition: background-color 0.3s ease, color 0.3s ease; /* Agrega una transición de color al pasar el ratón */
    }


.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}