.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(90deg, rgba(171,0,51,1) 10%, rgba(223,185,116,1) 28%, rgba(249,96,96,1) 67%, rgba(171,0,51,1) 91%);;
    }
    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}

.max-width-button {
    width: 100%;
}

#img-logo {
    margin-right: 30px;
    width: 350px;
    height: auto; /* Mantén la proporción original */
}

.p {
    text-align: justify;
}


